* {
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: sans-serif;
}

.signup-container {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.sign-inputs{ 
  display: flex;
  flex-direction: column;
}
#sign-input{
  width: 384px;
  height: 48px;
  border: 1px #D1D5DB solid;
  background-color: #F3F4F6;
}